@model IEnumerable<UniversityCourseResultManagementSystem.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

<table class="table table-condensed table-bordered table-striped table-hover table-responsive">
    <tr>
        <th>
           
            @Html.DisplayNameFor(model => model.DeptCode)
        </th>
        <th>
            
            @Html.DisplayNameFor(model => model.DeptName)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
       
    </tr>
}

</table>
