@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid  grey;
        border-collapse: collapse;
    }

    th, td {
        padding: 7px;
        text-align: left;
    }

    table#t01 tr:nth-child(even) {
        background-color: cadetblue;
    }

    table#t01 tr:nth-child(odd) {
        background-color: cornsilk;
    }

    table#t01 th {
        background-color: peru;
        color: white;
    }
</style>

<H2>::DEVELOPERS:: :</H2>

<table id="t01">
    <tr>
    
        <th>Name</th>
        <th>BITM ID</th>
    </tr>
    <tr>
       
        <td> Ferdous Ahmed. </td>
        <td>122963</td>
    </tr>
    <tr>
        
        <td> Kawsar Hamid Sumon. </td>
        <td>122935</td>
    </tr>
    <tr>
        
        <td> Ilias Bappi. </td>
        <td>122987</td>
    </tr>
</table>